{template 'common/header'}
<style type="text/css">
	.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  		white-space:normal;
	}
    .checkbox-custom {
        position: relative;
        padding: 0 0 0 25px;
        margin-bottom: 7px;
        margin-top: 0;
    }
    /*
    将初始的checkbox的样式改变
    */
    .checkbox-custom input[type="checkbox"] {
        opacity: 0;/*将初始的checkbox隐藏起来*/
        position: absolute;
        cursor: pointer;
        z-index: 2;
        margin: -6px 0 0 0;
        top: 50%;
        left: 3px;
    }
    /*
    设计新的checkbox，位置
    */
    .checkbox-custom label:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -9px;
        width: 19px;
        height: 18px;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #bbb;
        background: #fff;
    }
    /*
    点击初始的checkbox，将新的checkbox关联起来
    */
    .checkbox-custom input[type="checkbox"]:checked +label:after {
        position: absolute;
        display: inline-block;
        font-family: 'FontAwesome';
        content: '\F00C';
        top: 50%;
        left: 4px;
        margin-top: -5px;
        font-size: 11px;
        line-height: 1;
        width: 16px;
        height: 16px;
        color: #333;
    }
    .checkbox-custom label {
        cursor: pointer;
        line-height: 1.2;
        font-weight: normal;/*改变了rememberme的字体*/
        margin-bottom: 0;
        text-align: left;
    }
</style>
<script type="text/javascript" src="resource/components/clockpicker/clockpicker.min.js?v=20170526"></script>

<link rel="stylesheet" href="resource/components/clockpicker/clockpicker.min.css"/>
<ul class="nav nav-tabs">
	<li {if $_GPC['do'] =='' || $_GPC['do'] == 'question_manage' && $_GPC['op'] ==''}class="active"{/if}><a href="{php echo $this->createWebUrl('question_manage',array('version_id'=>0,'type'=>1))}">普通问题管理</a></li>
	<li {if $_GPC['do'] =='question_manage' && $_GPC['op'] == 'peep'}class="active"{/if}><a href="{php echo $this->createWebUrl('question_manage',array('op'=>'peep','version_id'=>0,'type'=>1))}">偷瞄问答管理</a></li>
	<li {if $_GPC['do'] =='question_manage' && $_GPC['op'] == 'reward'}class="active"{/if}><a href="{php echo $this->createWebUrl('question_manage',array('op'=>'reward','version_id'=>0,'type'=>2))}">悬赏问题管理</a></li>
</ul>
{if $_GPC['do'] == 'question_manage' && $_GPC['op']==''}
    <div id="action_list" class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 col-sm-11" style="width:99%;">
				<form  method="get" class="form-horizontal" role="form" id="form2" >
					<input type="hidden" name="c" value="site">
					<input type="hidden" name="version_id" value="0">
					<input type="hidden" name="a" value="entry">
					<input type="hidden" name="do" value="question_manage">
					<input type="hidden" name="m" value="dg_ask">
					<div class="input-group">
						<select name="status_select" class="form-control input-medium">
	                        <option value="1" <?php if($status_select == 1){echo 'selected';} ?> >不按时间</option>
	                        <option value="create_time" <?php if($_GPC['status_select'] == 'create_time'){echo 'selected';} ?> >创建时间</option>
	                    </select>
	                    <span class="input-group-addon" style="padding: 0; width: 0;border:none;">
	                    </span>
                      {php echo tpl_form_field_daterange('time',array('start'=>($_GPC['start'] ? $_GPC['start'] : $_GPC['time']['start']),'end'=>($_GPC['end'] ? $_GPC['end'] : $_GPC['time']['end'])));}
	                    <script type="text/javascript">
	                        $(function(){
	                            $("#action_list .input-group .daterange-date").addClass("form-control");
	                        })
	                    </script>
						<span class="input-group-addon"></span>
							<select name="is_answer" class="form-control input-medium">
								<option value="" selected="selected">问题状态</option>
								<option value="0"{if '0' == $is_answer} selected="selected"{/if}>未回答</option>
								<option value="1"{if '1' == $is_answer} selected="selected"{/if}>已回答</option>

								<!-- <option value="-2"{if '-2' == $is_answer} selected="selected"{/if}>已退款</option> -->
							</select>
						<span class="input-group-addon"></span>
					   	<select name="open" class="form-control input-medium">
							<option value="" selected="selected">问题分类</option>
							<option value="2"{if $_GPC['open'] == 2} selected="selected"{/if}>公开</option>
							<option value="1"{if $_GPC['open'] == 1} selected="selected"{/if}>私密</option>
						</select>
						<span class="input-group-addon">关键字</span>
						<input class="form-control ac_name" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="用户昵称 | 姓名 | 问题">
						<span class="input-group-btn">
			            	<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
			            </span>

					</div>
			    </form>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-heading-filter">
					<span class="search_time"></span>
					<span class="is_answer"></span>
					<span class="open"></span>
					<span style="float:right;">共计 {$total} 条数据</span>
				</div>
			</div>
			<div class="panel-body table-responsive">
			<table class="table table-hover" style="font-size:14px;">
				<thead class="navbar-inner">
					<tr>
						<th style="width:20%;">问题</th>
						<th>提问者</th>
						<th>专家姓名</th>
						<th>金额</th>
						<th>分类</th>
						<th>采纳回答<th>
						<th align="center">提问时间</th>
						<th>状态</th>
						<th style="width:180px;">快捷操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $records $row}
					<tr id="row_{$row['id']}">
						<td class="sl" title="{$row['ask_content']}">{$row['ask_content']}</td>
						<td>{$row['pay_nickname']}</td>
						<td>{if $row['real_name'] == ""}{$row['nickname']}{else}{$row['real_name']}{/if}</td>
						<td>{$row['pay_money']}</td>
						<td>
							{if $row['open']==1}私密{else if $row['open']==2}公开{/if}
						</td>
                        <td>{if $row['reward_status']==1}<b>已解决</b>{else}待解决{/if}</td>
                        <td></td>

						<td>{php echo date('Y/m/d H:i:s', $row['create_time']);}</td>
						<td>
							{if $row['is_answer']==1}已回答{else if $row['is_answer']==-2}超过48小时-已退款{else}<span style="color:red">未回答</span>{/if}
						</td>
						<td>
							<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="view_answer({$row['id']})">查看回答</label>
   							{if $row['open']==2 && $row['reward_status']==1}
                          	<a href="{php echo $this->createWebUrl('question_edit',['op'=>'reward_edit','version_id'=>0,'row_id'=>$row['id']])}">
								<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" >{if $row['is_chosen']==0}设为{else}编辑{/if}精选</label>
							</a>
							{/if}
							<!-- {if $row['open'] == 2}
								<label style="cursor:pointer;" id="se{$row['id']}" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="setQuestion(this,'is_chosen')">
									{if $row['is_chosen']=='1'}
										取消精选
									{else}
										设为精选
									{/if}
								</label>
							{/if} -->
							<!-- 先保留 -->
							<!-- <label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="setQuestion(this,'del')">
								删除
							</label> -->
							<!-- 先保留 -->
							<!-- {if $is_answer==2 && $row['pay_money']>0}
								<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="refund(this)">
									退款
								</label>
							{/if} -->
						</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
	</div>
	{$pager}
<script type="text/javascript">

$(function(){
	$(".sl").each(function(){
		var maxSize = 15;
		if($(this).text().length > maxSize){
	        $(this).text($(this).text().substring(0,maxSize)); $(this).html($(this).html()+'…');
	    }
	});
	$(".sl").show();
	//实现全选与反选

})

var refund_url="{php echo $this->createWebUrl('refund_ajax')}";
function setQuestion(obj,op){
	if(!confirm("确认操作吗?")){return false;}
	var row_id=$(obj).attr('data');
	// alert(op);return false;
	$.post(location.href,{id:row_id,op:op},function(result){
		if(result.success==1){
			if(op == "del"){
				$("#row_"+row_id).remove();
                util.message("操作成功", "", "success");return false;
			}
			if(op == "is_chosen"){
				if(result.is_cho == 1){
					$("#se"+row_id).text('取消精选');
				}else{
					$("#se"+row_id).text('设为精选');
				}
			}
		}
		if(result.success==2){
			util.message(result.data, "", "error");return false;
		}
	});
}

// 先保留
// function refund(obj){
// 	if(!confirm("确认退款吗?")){return false;}
// 	var row_id=$(obj).attr('data');
// 	$.post(refund_url,{id:row_id},function(result){
// 		if(result.success==1){
// 			$("#row_"+result.id).children().eq(6).text("已退款");
// 			$(obj).remove();
// 		}
// 	});
// 	return false;
// }

function view_answer(askid){
	var page_num = "{$_GPC['page']}";
	var url="{php echo $this->createWebUrl('view_answer')}";
	//location.href=url+"&askid="+askid+"&type=1";
	window.open(url+"&askid="+askid+"&type=1&version_id=0&page_num="+page_num);
    //location.href=url+"&askid="+askid+"&type=1&version_id=0&page_num="+page_num;
}
</script>
{/if}
{if $_GPC['op'] == 'peep'}
    <div id="action_list" class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 col-sm-11" style="width:99%;">
				<form  method="get" class="form-horizontal" role="form" id="form2" >
					<input type="hidden" name="c" value="site">
					<input type="hidden" name="version_id" value="0">
					<input type="hidden" name="a" value="entry">
					<input type="hidden" name="do" value="question_manage">
					<input type="hidden" name="op" value="peep">
					<input type="hidden" name="m" value="dg_ask">
					<div class="input-group">
                    <select name="status_select" class="form-control input-medium">
                            <option value="1" <?php if($status_select == 1){echo 'selected';} ?> >不按时间</option>
                            <option value="create_time" <?php if($_GPC['status_select'] == 'create_time'){echo 'selected';} ?> >创建时间</option>
                        </select>
                        <span class="input-group-addon" style="padding: 0; width: 0;border:none;">
                        </span>
                      {php echo tpl_form_field_daterange('time',array('start'=>($_GPC['start'] ? $_GPC['start'] : $_GPC['time']['start']),'end'=>($_GPC['end'] ? $_GPC['end'] : $_GPC['time']['end'])));}

                        <script type="text/javascript">
                            $(function(){
                                $("#action_list .input-group .daterange-date").addClass("form-control");
                            })
                        </script>

						<span class="input-group-addon">关键字</span>
						<input class="form-control ac_name" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="用户姓名 | 问题">
						<span class="input-group-btn">
			            	<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
			            </span>

					</div>
			    </form>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-heading-filter">
				<span class="search_time"></span>
				<span style="float:right;">共计 {$total} 条数据</span>
			</div>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover" style="font-size:14px;">
				<thead class="navbar-inner">
					<tr>
					<th>
					 <div class="checkbox-custom checkbox-default" >
	                    <input class="RememberMe" type="checkbox" id="allAndNotAll">
	                    <label for="RememberMe" style=" pointer-events: none;cursor: default;opacity: 0.6;"></label>
	                 </div>
					</th>
						<th style="width:20%;">问题</th>
						<th>提问者</th>
						<th>采纳专家</th>
						<th align="center">提问时间</th>
						<th align="center">偷瞄次数</th>
						<th align="center">回答数</th>
						<th align="center">状态</th>
						<th style="width:180px;">快捷操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $records $row}
					<tr id="row_{$row['id']}">
						<td>
							<div class="checkbox-custom checkbox-default">
		                        <input class="RememberMe" type="checkbox" name="rid[]" value="{$row['id']}">
		                         <label for="RememberMe" style=" pointer-events: none;cursor: default;opacity: 0.6;"></label>
		                    </div>
						</td>
						<td class="sl" title="{$row['ask_content']}">{$row['ask_content']}</td>
						<td>{$row['pay_nickname']}</td>
						<td>{if $row['real_name'] == ""}{$row['nickname']}{else}{$row['real_name']}{/if}</td>
						<td>{php echo date('Y/m/d H:i:s', $row['create_time']);}</td>

                        <td>{$row['peep_num']}</td>

						<td>{$row['answer_num']}</td>
						<td>
							{if $row['ask_display']==1}<span style="color:green">已上架</span>{elseif $row['ask_display']==2}<span style="color:red">已下架</span>{/if}
						</td>
						<td>
						<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="view_answer({$row['id']})">查看回答</label>
                          	<a href="{php echo $this->createWebUrl('question_manage',['op'=>'ask_display','version_id'=>0,'row_id'=>$row['id'],'is_ask'=>$row['ask_display']])}">
								<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" >{if $row['ask_display']==2}上架{else if $row['ask_display']==1}下架{/if}</label>
							</a>

							<!-- {if $row['open'] == 2}
								<label style="cursor:pointer;" id="se{$row['id']}" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="setQuestion(this,'is_chosen')">
									{if $row['is_chosen']=='1'}
										取消精选
									{else}
										设为精选
									{/if}
								</label>
							{/if} -->
							<!-- 先保留 -->
							<!-- <label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="setQuestion(this,'del')">
								删除
							</label> -->
							<!-- 先保留 -->
							<!-- {if $is_answer==2 && $row['pay_money']>0}
								<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="refund(this)">
									退款
								</label>
							{/if} -->
						</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<button class="btn btn-default" onclick="to_examine(1)">批量上架</button>
			<button class="btn btn-default" onclick="to_examine(2)">批量下架</button>
		</div>
	</div>
	{$pager}
<script type="text/javascript">
$(function(){
	$(".sl").each(function(){
		var maxSize = 15;
		if($(this).text().length > maxSize){
	        $(this).text($(this).text().substring(0,maxSize)); $(this).html($(this).html()+'…');
	    }
	});
	$(".sl").show();

})
	$("#allAndNotAll").click(function() {

        if (this.checked){
            $("input[name='rid[]']:checkbox").each(function(){
                $(this).prop("checked", true);
            });
        } else {
            $("input[name='rid[]']:checkbox").each(function() {
                $(this).prop("checked", false);
            });
        }
 });
var irids="";
	//批量操作
		function to_examine(e){
			if(confirm('你确定要操作吗？') == false){
                return false;
            }
			$("input[name='rid[]']:checked").each(function(){
				irids += $(this).val();
				irids += ',';
			});
			irids = irids.substr(0,irids.lastIndexOf(','));
			if(irids == ''){
				util.message('请勾选数据','','error');
            	return false;
			}else{
				$.post("{php echo $this->createWebUrl('question_manage',array('op'=>'ask_display_all'))}",{
					irids: irids,
					ask_display:e
				},function(data){
					if(data.code == 200){
		                util.message(data.msg,setTimeout(function(){location.reload()},1000),'success');
		                return false;
		            }
		            if(data.code == 400){
		                util.message(data.msg,'','error');
		                return false;
		            }
				},'json');
			}
		}
var refund_url="{php echo $this->createWebUrl('refund_ajax')}";
function setQuestion(obj,op){
	if(!confirm("确认操作吗?")){return false;}
	var row_id=$(obj).attr('data');
	// alert(op);return false;
	$.post(location.href,{id:row_id,op:op},function(result){
		if(result.success==1){
			if(op == "del"){
				$("#row_"+row_id).remove();
                util.message("操作成功", "", "success");return false;
			}
			if(op == "is_chosen"){
				if(result.is_cho == 1){
					$("#se"+row_id).text('取消精选');
				}else{
					$("#se"+row_id).text('设为精选');
				}
			}
		}
		if(result.success==2){
			util.message(result.data, "", "error");return false;
		}
	});
}

// 先保留
// function refund(obj){
// 	if(!confirm("确认退款吗?")){return false;}
// 	var row_id=$(obj).attr('data');
// 	$.post(refund_url,{id:row_id},function(result){
// 		if(result.success==1){
// 			$("#row_"+result.id).children().eq(6).text("已退款");
// 			$(obj).remove();
// 		}
// 	});
// 	return false;
// }

function view_answer(askid){
	var page_num = "{$_GPC['page']}";
	var url="{php echo $this->createWebUrl('view_answer')}";
	//location.href=url+"&askid="+askid+"&type=1";
    location.href=url+"&askid="+askid+"&type=1&version_id=0&page_num="+page_num;
}
</script>
{/if}
<!-- 悬赏问题管理 start -->
{if $_GPC['op'] == 'reward'}
<div class="main">
    <div id="action_list" class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 col-sm-11" style="width:99%;">
				<form  method="get" class="form-horizontal" role="form">
					<div class="input-group">
						<input type="hidden" name="c" value="site">
						<input type="hidden" name="version_id" value="0">
						<input type="hidden" name="a" value="entry">
						<input type="hidden" name="do" value="question_manage">
						<input type="hidden" name="op" value="reward">
						<input type="hidden" name="m" value="dg_ask">
						<select name="status_select" class="form-control input-medium">
	                        <option value="1" <?php if($status_select == 1){echo 'selected';} ?> >不按时间</option>
	                        <option value="create_time" <?php if($_GPC['status_select'] == 'create_time'){echo 'selected';} ?> >创建时间</option>
	                    </select>
	                    <span class="input-group-addon" style="padding: 0; width: 0;border:none;">
	                    </span>
                        {php echo tpl_form_field_daterange('time',array('start'=>($_GPC['start'] ? $_GPC['start'] : $_GPC['time']['start']),'end'=>($_GPC['end'] ? $_GPC['end'] : $_GPC['time']['end'])));}
	                    <script type="text/javascript">
	                        $(function(){
	                            $("#action_list .input-group .daterange-date").addClass("form-control");
	                        })
	                    </script>
						<span class="input-group-addon"></span>
						<select name="reward_status" class="form-control input-medium">
							<option value="7"{if '7' == $_GPC['reward_status']} selected="selected"{/if}>问题状态</option>
							<option value="0"{if '0' == $_GPC['reward_status']} selected="selected"{/if}>悬赏中</option>
							<option value="1"{if '1' == $_GPC['reward_status']} selected="selected"{/if}>已采纳</option>
							<option value="2"{if '2' == $_GPC['reward_status']} selected="selected"{/if}>已结束</option>
						</select>
						<span class="input-group-addon">关键字</span>
							<input class="form-control ac_name" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="用户昵称 | 姓名 | 问题">

						<span class="input-group-btn">
			            	<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
			            </span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-heading-filter">
				<span class="search_time"></span>
				<span class="reward_status"></span>
				<span style="float:right;">共计 {$total} 条数据</span>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:150px;">问题</th>
					<th style="width:75px;">提问者</th>
					<th style="width:70px;">悬赏金额</th>
					<th style="width:70px;">是否公开</th>
					<th style="width:70px;">支付类型</th>
					<th style="width:80px;">提问时间</th>
					<th style="width:80px;">悬赏期限</th>
					<th style="width:70px;">回答数</th>
					<th style="width:65px;">状态</th>
					<th style="width:180px;">快捷操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $row}
					<tr id="row_{$row['id']}">
						<?php $content=nl2br($row['ask_content']); ?>
						<td class="sl" title="{$content}">{$content}</td>
						<td>{$row['pay_nickname']}</td>
						<td>{$row['pay_money']}</td>
						<td>{if $row['open'] == 1}私密{elseif $row['open'] == 2}公开{/if}</td>
						<td>{if $row['pay_status'] == 0}微信支付{elseif $row['pay_status'] == 1}余额支付{/if}</td>
						<td>{if $row['create_time'] != 0}{php echo date('Y/m/d H:i:s', $row['create_time']);}{/if}</td>
						<td>{if $row['reward_expirytime'] != 0}{php echo date('Y/m/d H:i:s', $row['reward_expirytime']);}{/if}</td>
						<td>{$row['answer_num']}</td>
						<td>
							{if $row['reward_status']==0}
                             悬赏中
                            {elseif $row['reward_status']==1}
                             已采纳
                            {elseif $row['reward_status']==2}
                            已结束{if $row['refund_time'] != 0}
                            <span style="color:red">(已退款)</span>
                            {/if}
                            {/if}
						<td>
						{if $row['refund_time']==0}
						{if $row['is_answer']!=0}
							<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="view_answer({$row['id']})">查看回答</label>
						{/if}
							<!-- 私密不能设为精选

								<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="setQuestion(this,'is_chosen')">
									<span id="ser_{$row['id']}">
										{if $row['is_chosen'] == 0}设为精选{elseif $row['is_chosen'] == 1}取消精选{/if}
									</span>
								</label> -->
                        {if $row['open']==2 && $row['reward_status']==1}
							<a href="{php echo $this->createWebUrl('question_edit',['op'=>'reward_edit','version_id'=>0,'row_id'=>$row['id']])}">
								<label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" >{if $row['is_chosen']==0}设为{else}编辑{/if}精选</label>
							</a>
                        {/if}
                        	<!-- 先保留 -->
							<!-- <label style="cursor:pointer;" data="{$row['id']}" class="btn btn-default btn-sm manage" onclick="setQuestion(this,'del')">删除</label>
 -->
							<!-- 先保留 -->
							<!-- {if $is_answer==2 && $row['pay_money']>0}
								<label style="cursor:pointer;" data="{$row['id']}" class="label label-default label-info" onclick="refund(this)">退款</label>
							{/if} -->
                        {/if}
						</td>
					</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
<script type="text/javascript">
// var refund_url="{php echo $this->createWebUrl('refund_ajax')}";// 先保留
$(function(){
	$(".sl").each(function(){
		var maxSize = 15;
		if($(this).text().length > maxSize){
	        $(this).text($(this).text().substring(0,maxSize)); $(this).html($(this).html()+'…');
	    }
	});
	$(".sl").show();
})

function setQuestion(obj,op){
	if(!confirm("确认操作吗?")){return false;}
	var row_id=$(obj).attr('data');
	$.post(location.href,{aid:row_id,op:op},function(result){
		if(result.success==1){
			if(op=="del"){
				$("#row_"+result.id).remove();
                util.message("操作成功", "", "success");return false;
			}else if(op=='is_chosen'){
				if(result.is_cho == 1){
					//$(obj).removeClass('label-info');
                    $("#ser_"+row_id).text('取消精选');
				}else{
					//$(obj).addClass('label-info');
                    $("#ser_"+row_id).text('设为精选');
				}
			}else if(op=='caina'){

			}
			else{location.reload();}
		}
		if(result.success==2){
			util.message(result.data, "", "error");return false;
		}
	});
}

//先保留
// function refund(obj){
// 	if(!confirm("确认退款吗?")){return false;}
// 	var row_id=$(obj).attr('data');
// 	$.post(refund_url,{id:row_id},function(result){
// 		if(result.success==1){
// 			$("#row_"+result.id).children().eq(6).text("已退款");
// 			$(obj).remove();
// 		}
// 	});
// 	return false;
// }




$(function(){
	//推送给素有专家
	$(".check_all").click(function(){
       var checked = $(this).get(0).checked;
		$(':checkbox').each(function(){this.checked = checked});
    });
	$(".send_all").click(function(){
		var check = $("input:checked");
		if(check.length<1){
			alert('请选择要推送的问题!');
			return false;
		}
        if( confirm("确认推送吗？推送后所有专家将收到模板消息提醒")){
			var id = new Array();
			check.each(function(i){
				if($(this).val()!=0){
					id[i] = $(this).val();
				}
			});
			$.post(location.href, {ids:id,op:'sendall'},function(data){
				if (data.success ==1){
					alert("推送成功,共推送给了"+data.count+"个专家");
				}
			},'json');
		}
	});
});
function view_answer(askid){
	var page_num = "{$_GPC['page']}";
	var url="{php echo $this->createWebUrl('view_answer')}";
//	location.href=url+"&askid="+askid+"&type=2";
    location.href=url+"&askid="+askid+"&type=2&version_id=0&page_num="+page_num;
}
</script>
{/if}
<!-- 筛选优化 -->
<script>
var time_start='';
var time_end='';
var is_answer='';
var ask_open='';
var ask_url = '';
var str='';
var answer=$('select[name="is_answer"]').val() ? $('select[name="is_answer"]').val() : '';
var is_open=$('select[name="open"]').val() ? $('select[name="open"]').val() : '';
var time_value=$('select[name="status_select"]').val() ? $('select[name="status_select"]').val() : '';
var ask_status_name=$('select[name="reward_status"]').val() ? $('select[name="reward_status"]').val() : '';


$(function(){

    //问题状态
    if(answer!=''){
       str = sessionStorage.getItem('is_answer_str');
        $('.is_answer').html(str);
    }

    //问题分类
    if(is_open!='') {
        str = sessionStorage.getItem('open_str');
        $('.open').html(str);
    }

    //悬赏状态
    if(ask_status_name!='7') {
        str = sessionStorage.getItem('reward_status_str');
        $('.reward_status').html(str);
    }
});

function ask_medium(select_name,select_value)
{

    if(select_name=='status_select'){
        return false;
    }
    ask_url = "&is_answer="+answer+"&open="+is_open+"&start="+time_start+"&end="+time_end+"&status_select="+time_value;

    if(select_name=='is_answer'){
        ask_url = ask_url+"&is_answer="+select_value;
        if(select_value==1){
            is_answer = '已回答';
        }else if(select_value==0){
            is_answer = '未回答';
        }else{
            is_answer = '全部';
            location.href = href_url+ask_url;
            return false;
        }
        str = '问题状态：<font style="color:red;">'+is_answer+'&nbsp;</font><span onClick="ask_clean('+"'"+'ask'+"'"+')"><i class="fa fa-times" aria-hidden="true" style="cursor:pointer" title="清除"></i></span>';
    }else if(select_name=='open'){
        ask_url = ask_url+"&open="+select_value;
        if(select_value==2){
            ask_open = '公开';
        }else if(select_value==1){
            ask_open = '私密';
        }else{
            ask_open = '全部';
            location.href = href_url+ask_url;
            return false;
        }


        str = '问题状态：<font style="color:red;">'+ask_open+'&nbsp;</font><span onClick="ask_clean('+"'"+'open'+"'"+')"><i class="fa fa-times" aria-hidden="true" style="cursor:pointer" title="清除"></i></span>';
    }else if(select_name=='reward_status'){//悬赏列表
        ask_url = ask_url+"&reward_status="+select_value;
        if(select_value==0){
            ask_status_name = '悬赏中';
        }else if(select_value==1){
            ask_status_name = '已采纳';
        }else if(select_value==2){
            ask_status_name = '已结束';
        }else if(select_value==7){
            ask_status_name = '全部';
            location.href = href_url+ask_url;
            return false;
        }


        str = '悬赏状态：<font style="color:red;">'+ask_status_name+'&nbsp;</font><span onClick="ask_clean('+"'"+'ask_status_name'+"'"+')"><i class="fa fa-times" aria-hidden="true" style="cursor:pointer" title="清除"></i></span>';
    }

    //以name 为前缀
    sessionStorage.setItem(select_name, select_name);
    sessionStorage.setItem(select_name+'_str',str);

    if(str!=''){
        select_html(select_name,str);
    }
    location.href = href_url+ask_url;
}

var parameter;
function ask_clean(clean)
{

    ask_url = "&is_answer="+answer+"&open="+is_open;
    if(clean=='ask'){
        parameter = ask_url+"&is_answer="
    }
    if(clean=='open'){
        parameter =ask_url+"&open="
    }
    if(clean=='ask_status'){
        parameter =ask_url+"&ask_status=7"
    }
    sessionStorage.setItem(clean+'_str','');
    location.href = href_url+ask_url+parameter;
}




</script>
<!-- 悬赏问题管理 end -->
{template 'common/footer'}